#title=Default Edit Meta Field Template
#namespace=HelpDesk/editMetaField
#assetId=HELPDESK00000000000006
<div>
    <tmpl_var form_start>
    <table style="width: 100%">
        <tbody>
        <!-- Header -->
        <tr>
            <td colspan="2"><b>Edit Meta Data Field</b></td>
        </tr>
        <!-- Label -->
        <tr id="label_formId_row">
            <td class="formDescription"  valign="top" style="width: 180px;"><label for="label_formId">Label</label><div class="wg-hoverhelp">The label for the field that the user will read to know what the field is for.</div></td>
			<td valign="top" class="tableData" ><tmpl_var form_label></td>
        </tr>
        <!-- Data Type -->
        <tr id="dataType_formId_row">
			<td class="formDescription"  valign="top" style="width: 180px;"><label for="dataType_formId">Data Type</label><div class="wg-hoverhelp">Choose the type of form element for this field.  This is also used to validate any input that the user may supply.</div></td>
			<td valign="top" class="tableData"><tmpl_var form_dataType></td>
		</tr>
        <!-- Required -->
        <tr id="required_formId_row">
			<td class="formDescription"  valign="top" style="width: 180px;"><label for="required_formId">Required?</label><div class="wg-hoverhelp">Should the user be required to fill out this field?</div></td>
			<td valign="top" class="tableData" ><tmpl_var form_required></td>
		</tr>
        <!-- Searchable -->
        <tr id="searchable_formId_row">
			<td class="formDescription"  valign="top" style="width: 180px;"><label for="searchable_formId">Searchable?</label><div class="wg-hoverhelp">Should the field be part of the search?</div></td>
			<td valign="top" class="tableData" ><tmpl_var form_searchable></td>
		</tr>
        <!-- Possible Values -->
        <tr id="possibleValues_formId_row">
		    <td class="formDescription"  valign="top" style="width: 180px;"><label for="possibleValues_formId">Possible Values</label><div class="wg-hoverhelp"><tmpl_var hh_possibleValues></div></td>
			<td valign="top" class="tableData" ><tmpl_var form_possibleValues></td>
		</tr>
        <!-- Default Values -->
        <tr id="defaultValues_formId_row">
		    <td class="formDescription"  valign="top" style="width: 180px;"><label for="defaultValues_formId">Default Values</label><div class="wg-hoverhelp"><tmpl_var hh_defaultValues></div></td>
			<td valign="top" class="tableData" ><tmpl_var form_defaultValues></td>
		</tr>
        <!-- Hover Help -->
        <tr id="hoverHelp_formId_row">
		    <td class="formDescription"  valign="top" style="width: 180px;"><label for="hoverHelp_formId">Hover Help</label><div class="wg-hoverhelp">Enter a description of the field to display as hover help for users</div></td>
			<td valign="top" class="tableData" ><tmpl_var form_hoverHelp></td>
		</tr>
        <!-- Submit -->
        <tr id="submit_formId_row">
			<td class="formDescription"  valign="top" style="width: 180px;">&nbsp;</td>
			<td valign="top" class="tableData" ><tmpl_var form_submit></td>
		</tr>
        </tbody>
    </table>
    <tmpl_var form_end>
</div>

~~~

<link href="^Extras;yui/build/container/assets/container.css" rel="stylesheet" type="text/css" />
<link href="^Extras;hoverhelp.css" rel="stylesheet" type="text/css" />
<script src="^Extras;yui/build/yahoo/yahoo-min.js" type="text/javascript"></script>
<script src="^Extras;yui/build/dom/dom-min.js" type="text/javascript"></script>
<script src="^Extras;yui/build/event/event-min.js" type="text/javascript"></script>
<script src="^Extras;yui/build/container/container-min.js" type="text/javascript"></script>
<script src="^Extras;hoverhelp.js" type="text/javascript"></script>
