#title=Help Desk My View
#namespace=HelpDesk/myView
#assetId=HELPDESK00000000000002
<div id="myTicketList">
    <div id="my_paging_top"></div>
    <div id="mdt"></div>
    <div id="my_paging_bottom"></div>
</div>

<script type="text/javascript">
    YAHOO.util.Event.onDOMReady(function () {
        var hd = new WebGUI.HelpDesk({
            datasource : '<tmpl_var url_pageData>',
            container  : 'myTicketList',
            dtContainer: 'mdt',
            view       : 'my',
            fields     : [
                { key: 'ticketId' },
                { key: 'title' },
                { key: 'createdBy' },
                { key: 'creationDate' },
                { key: 'assignedTo' },
                { key: 'ticketStatus' },
                { key: 'url'}
            ],
            columns    : [ 
                { key: 'ticketId', label: "Ticket Id", sortable: true },
                { key: 'title', label: "Subject", sortable: true, formatter: WebGUI.HelpDesk.formatTitle },
                { key: 'createdBy', label: "Submitted By", sortable: true },
                { key: 'creationDate', label: "Submitted On", sortable: true },
                { key: 'assignedTo', label: "Assigned To", sortable: true },
                { key: 'ticketStatus', label: "Status", sortable: true }
            ],
            p_containers : ['my_paging_top','my_paging_bottom']
        });
        hd.initDataTable();
    });
</script>