#title=Help Desk Search
#namespace=HelpDesk/search
#assetId=HELPDESK00000000000004

<script type="text/javascript">
  YAHOO.util.Event.onDOMReady(function () {
        var hd = new WebGUI.HelpDesk({
            datasource : '<tmpl_var url_pageData>',
            container  : 'search',
            dtContainer: 'sdt',
            view       : 'search',
            fields     : [
                { key: 'ticketId' },
                { key: 'title' },
                { key: 'createdBy' },
                { key: 'creationDate' },
                { key: 'assignedTo' },
                { key: 'ticketStatus' },
                { key: 'url'}
            ],
            columns    : [ 
                { key: 'ticketId', label: "Ticket Id", sortable: true },
                { key: 'title', label: "Subject", sortable: true, formatter: WebGUI.HelpDesk.formatTitle },
                { key: 'createdBy', label: "Submitted By", sortable: true },
                { key: 'creationDate', label: "Submitted On", sortable: true },
                { key: 'assignedTo', label: "Assigned To", sortable: true },
                { key: 'ticketStatus', label: "Status", sortable: true }
            ],
            p_containers : ['search_paging_bottom']
        });
        hd.initDataTable();
    });
</script>
 
<link rel="stylesheet" type="text/css" href="^Extras;yui/build/calendar/assets/skins/sam/calendar.css" />
<script type="text/javascript">
    var webguiFirstDayOfWeek = 0;
</script>
<script type="text/javascript" src="^Extras;yui/build/calendar/calendar-min.js"></script>
<script type="text/javascript" src="^Extras;yui-webgui/build/datepicker/datepicker.js"></script>


<tmp_var form_start>
<table border="0" cellspacing="1">
    <tbody>
    <tr>
        <td valign="top" width="40%">
            <table border="0" cellpadding="3" cellspacing="0" width="100%">
                <tbody>
                <tr><td>Keyword</td><td><tmpl_var form_keyword></td></tr>
                <tr><td>Status</td><td><tmpl_var form_status></td></tr>
                <tr><td>Assigned To</td><td><tmpl_var form_assignedTo></td></tr>
                <tr><td>Assigned By</td><td><tmpl_var form_assignedBy></td></tr>
                <tr><td>Created By></td><td><tmpl_var form_createdBy></td></tr>
                <tr><td>Created</td><td><tmpl_var form_dateStart>&nbsp;To:&nbsp;<tmpl_var form_dateEnd></td></tr>
                </tbody>
            </table>
        </td>
        <td width="10%"></td>
        <td valign="top" width="40%">
            <table border="0" cellpadding="3" cellspacing="0" width="100%">
                <tbody>
                <tr><td>Ticket Id</td><td><tmpl_var form_ticketId></td></tr>
                <tmpl_if hasMetaFields>
                <tmpl_loop meta_loop>
                <tr><td><tmpl_var form_meta_label></td><td><tmpl_var form_meta></td></tr>
                </tmpl_loop>
                </tmpl_if>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<tmpl_var form_end>

<br clear="all" />

<div id="search">
    <div id="sdt"></div>
    <div id="search_paging_bottom"></div>
</div>