#title=Help Desk View All
#namespace=HelpDesk/viewAll
#assetId=HELPDESK00000000000003
<div id="ticketList">
    <div id="paging_top"></div>
    <div id="dt"></div>
    <div id="paging_bottom"></div>
</div>

<script type="text/javascript">
    YAHOO.util.Event.onDOMReady(function () {
        var hd = new WebGUI.HelpDesk({
            datasource : '<tmpl_var url_pageData>',
            container  : 'ticketList',
            dtContainer: 'dt',
            view       : 'all',
            fields     : [
                { key: 'ticketId' },
                { key: 'title' },
                { key: 'createdBy' },
                { key: 'creationDate' },
                { key: 'assignedTo' },
                { key: 'ticketStatus' },
                { key: 'url'},
                { key: 'lastReplyDate'},
                { key: 'lastReplyBy'},
                { key: 'lastReplyById'},
                { key: 'karmaRank' }
            ],
            columns    : [ 
                { key: 'ticketId', label: "Ticket Id", sortable: true },
                { key: 'title', label: "Subject", sortable: true, formatter: WebGUI.HelpDesk.formatTitle },
                { key: 'createdBy', label: "Submitted By", sortable: true },
                { key: 'creationDate', label: "Submitted On", sortable: true },
                { key: 'assignedTo', label: "Assigned To", sortable: true },
                { key: 'ticketStatus', label: "Status", sortable: true },
                { key: 'lastReplyDate', label: "Last Reply", sortable: true, formatter: WebGUI.HelpDesk.formatLastReply }
                <tmpl_if karmaEnabled>,{ key: 'karmaRank', label: "Karma Rank", sortable: true }</tmpl_if>
            ],
            p_containers : ['paging_top','paging_bottom'],
            defaultSort : {
                "key" : "<tmpl_var sortColumn>",
                "dir" : YAHOO.widget.DataTable.CLASS_<tmpl_var sortOrder>
            }
        });
        hd.initDataTable();
    });
</script>