#title=Help Desk Main View
#namespace=HelpDesk/view
#assetId=HELPDESK00000000000001
<tmpl_if session.var.adminOn>
    <p><tmpl_var controls></p>
</tmpl_if>

<tmpl_if displayTitle>
    <h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>	
    <p><tmpl_var description></p>
</tmpl_if>

<div class="yui-skin-sam">
<div id="container">
<tmpl_if canPost><a href="<tmpl_var url_addTicket>">New Support Request +</a></tmpl_if><tmpl_if canEditAndPost>&nbsp;&bull;&nbsp;</tmpl_if><tmpl_if canEdit><a href="<tmpl_var url_manageMetaData>">Manage Meta Fields</a></tmpl_if><tmpl_if canPost>&nbsp;&bull;&nbsp;</tmpl_if><tmpl_if canSubscribe><a href="javascript:void(0);" id="hdSubscribeLink"><tmpl_var subscribe_label></a></tmpl_if><br />
</div>
</div>

<script type="text/javascript">
<tmpl_if canSubscribe>
/************************  SUBSCRIPTION *************************/
var subscribeUrl = '<tmpl_var url_subscribe>';
var handleSubscribe = function(evt) {
    var url = subscribeUrl;
    if(WebGUI.Ticket) {
        url += ";assetId=" + WebGUI.Ticket.assetId;
    }
    var oCallback = {
        success: function(o) {
            var response = eval('(' + o.responseText + ')');
            if(response.hasError){
                var message = "";
                for(var i = 0; i < response.errors.length; i++) {
                    message += response.errors[i];
                }
                alert(message);
            }
            else {
                YAHOO.util.Dom.get("hdSubscribeLink").innerHTML = response.message;
            }   
        },
        failure: function(o) {}
    };
    YAHOO.util.Connect.asyncRequest('GET', url, oCallback);
}

YAHOO.util.Event.addListener("hdSubscribeLink","click",handleSubscribe);
</tmpl_if>

/************************  TABS *************************/
var tabView = new YAHOO.widget.TabView();

var assignDialog = null;

YAHOO.example.init = function() {
    YAHOO.plugin.Dispatcher.delegate (new YAHOO.widget.Tab({
        label: 'Open Tickets',
        cacheData: false,
        dataSrc: '<tmpl_var url_viewAll>',
        active: true
    }), tabView);
    <tmpl_if canPost>
    YAHOO.plugin.Dispatcher.delegate (new YAHOO.widget.Tab({
        label: 'My Tickets',
        cacheData: false,
        dataSrc: '<tmpl_var url_viewMy>',
        active: false
    }),tabView);
    </tmpl_if>
    YAHOO.plugin.Dispatcher.delegate (new YAHOO.widget.Tab({
        label: 'Search',
        cacheData: false,
        dataSrc: '<tmpl_var url_search>'
    }), tabView);

    YAHOO.util.Event.onContentReady('container', function() {
        tabView.appendTo('container');
    });

};
YAHOO.example.init();
</script>

~~~

<link rel="stylesheet" type="text/css" href="^Extras;yui/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="^Extras;wobject/HelpDesk/tabview.css" />
<link rel="stylesheet" type="text/css" href="^Extras;yui/build/datatable/assets/skins/sam/datatable.css" />

<script type="text/javascript" src="^Extras;yui/build/utilities/utilities.js"></script>
<script type="text/javascript" src="^Extras;yui/build/json/json-min.js"></script>
<script type="text/javascript" src="^Extras;yui/build/tabview/tabview-min.js"></script>
<script type="text/javascript" src="^Extras;yui/build/datasource/datasource-beta-min.js"></script>
<script type="text/javascript" src="^Extras;yui/build/datatable/datatable-beta-min.js"></script>
<script type="text/javascript" src="^Extras;wobject/HelpDesk/yui-bubbling/build/dispatcher/dispatcher-min.js"></script>
<script type="text/javascript" src="^Extras;wobject/HelpDesk/helpdesk.js"></script>
<script type="text/javascript" src="^Extras;yui-webgui/build/form/form.js"></script>


<!--begin custom header content for this example-->
<style type="text/css">
.yui-navset div.loading div {
    background:url(^Extras;wobject/HelpDesk/tabview/loading.gif) no-repeat center center;
    height:8em; /* hold some space while loading */
}

#example-canvas h2 {padding: 0 0 .5em 0;}
</style>