#title=Help Desk Search
#namespace=HelpDesk/search
#assetId=HELPDESK00000000000004


<script type="text/javascript">

    YAHOO.util.Event.onDOMReady(function () {
        var DataSource = YAHOO.util.DataSource,
            DataTable  = YAHOO.widget.DataTable,
            Paginator  = YAHOO.widget.Paginator;

        var mySource = new DataSource('<tmpl_var url_pageData>');
        mySource.responseType   = DataSource.TYPE_JSON;
        mySource.responseSchema = {
            resultsList : 'tickets',
            fields      : [
                { key: 'ticketId' },
                { key: 'title' },
                { key: 'createdBy' },
                { key: 'creationDate' },
                { key: 'assignedTo' },
                { key: 'ticketStatus' },
                { key: 'url'}
            ],
            metaFields  : { totalRecords: 'totalRecords' }
        };

        function loadTicket ( oArgs ) {
            var target = oArgs.target;

            var elCell = this.getTdEl(target);
            if(elCell) {
                var oRecord = this.getRecord(elCell);
                var url     = oRecord.getData('url') + "?func=view;caller=ticketMgr;view=search";
                if(url) {
                    // Create callback object for the request
                    var oCallback = {
                        success: function(o) {
                            //ensure no memory leaks  
                            var destroyer = YAHOO.plugin.Dispatcher.destroyer;
                            if(destroyer != null) {
                                destroyer.subscribe (function(el, config){
                                    dtable.destroy();
                                });
                            }
                            YAHOO.plugin.Dispatcher.process( "search", o.responseText );
                        },
                        failure: function(o) {}
                    };
                    var request = YAHOO.util.Connect.asyncRequest('GET', url, oCallback); 
                }
            }
            else {
                alert("Could not get table cell for " + target);
            }

        };
        

        var formatTitle
            = function ( elCell, oRecord, oColumn, orderNumber ) {
                elCell.innerHTML = '<a href="javascript:void(0);" id="ticket_' + oRecord.getData( 'ticketId' ) + '">'
                + oRecord.getData( 'title' )
                + '</a>'
                ;
        };
        
        var buildQueryString = function ( state, dt ) {
            var query = ";recordOffset=" + state.pagination.recordOffset 
                + ';orderByDirection=' + ((state.sorting.dir === YAHOO.widget.DataTable.CLASS_ASC) ? "ASC" : "DESC")
                + ';rowsPerPage=' + state.pagination.rowsPerPage
                + ';orderByColumn=' + state.sorting.key
                ;
            return query;
        };


        var myPaginator = new Paginator({
            containers         : ['search_paging_bottom'],
            pageLinks          : 5,
            rowsPerPage        : 10,
            rowsPerPageOptions : [10,25,50,100],
            template           : "<strong>{CurrentPageReport}</strong> {PreviousPageLink} {PageLinks} {NextPageLink} {RowsPerPageDropdown}"
        });

        // Custom function to handle pagination requests
        var handlePagination = function (state,dt) {
            var sortedBy  = dt.get('sortedBy');
            // Define the new state
            var newState = {
                startIndex: state.recordOffset, 
                sorting: {
                    key: sortedBy.key,
                    dir: ((sortedBy.dir === YAHOO.widget.DataTable.CLASS_ASC) ? "asc" : "desc")
                },
                pagination : { // Pagination values
                    recordOffset: state.recordOffset, // Go to the proper page offset
                    rowsPerPage: state.rowsPerPage // Return the proper rows per page
                }
            };

            // Create callback object for the request
            var oCallback = {
                success: dt.onDataReturnSetRows,
                failure: dt.onDataReturnSetRows,
                scope: dt,
                argument: newState // Pass in new state as data payload for callback function to use
            };
        
            // Send the request
            dt.getDataSource().sendRequest(buildQueryString(newState, dt), oCallback);
        };

        var defaultSortedBy = { 
            "key" : "creationDate",
            "dir" : YAHOO.widget.DataTable.CLASS_DESC
        };

        var myTableConfig = {
            initialRequest         : ';recordOffset=0',
            generateRequest        : buildQueryString,
            paginationEventHandler : handlePagination,
            paginator              : myPaginator,
            sortedBy               : defaultSortedBy
        };

        var myColumnDefs = [ 
            { key: 'ticketId', label: "Ticket Id", sortable: true },
            { key: 'title', label: "Subject", sortable: true, formatter: formatTitle },
            { key: 'createdBy', label: "Submitted By", sortable: true },
            { key: 'creationDate', label: "Submitted On", sortable: true },
            { key: 'assignedTo', label: "Assigned To", sortable: true },
            { key: 'ticketStatus', label: "Status", sortable: true }
        ];

        
        // Initialize the data table
        var dtable = new DataTable('sdt',myColumnDefs,mySource,myTableConfig);
        dtable.subscribe("rowMouseoverEvent", dtable.onEventHighlightRow);
        dtable.subscribe("rowMouseoutEvent", dtable.onEventUnhighlightRow);
        dtable.subscribe("cellClickEvent",loadTicket);
        
        //ensure no memory leaks
        var destroyer = YAHOO.plugin.Dispatcher.destroyer;
        if(destroyer != null) {
            destroyer.subscribe (function(el, config){
                dtable.destroy();
            });
        }
    
        // Override function for custom server-side sorting
        dtable.sortColumn = function(oColumn,sDir) {
            // Default ascending
            var sDir = "desc";

            // If already sorted, sort in opposite direction
            if(oColumn.key === this.get("sortedBy").key) {
                sDir = (this.get("sortedBy").dir === YAHOO.widget.DataTable.CLASS_ASC) ? "desc" : "asc";
            }

            // Define the new state
            var newState = {
                startIndex: 0,
                sorting: { // Sort values
                    key: oColumn.key,
                    dir: (sDir === "asc") ? YAHOO.widget.DataTable.CLASS_ASC : YAHOO.widget.DataTable.CLASS_DESC
                },
                pagination : { // Pagination values
                    recordOffset: 0, // Default to first page when sorting
                    rowsPerPage: this.get("paginator").getRowsPerPage() // Keep current setting
                }
            };

            // Create callback object for the request
            var oCallback = {
                success: this.onDataReturnSetRows,
                failure: this.onDataReturnSetRows,
                scope: this,
                argument: newState // Pass in new state as data payload for callback function to use
            };
        
            // Send the request
            this.getDataSource().sendRequest(buildQueryString(newState, this), oCallback);
        };    
    });
</script>
 
<link rel="stylesheet" type="text/css" href="^Extras;yui/build/calendar/assets/skins/sam/calendar.css" />
<script type="text/javascript">
    var webguiFirstDayOfWeek = 0;
</script>
<script type="text/javascript" src="^Extras;yui/build/calendar/calendar-min.js"></script>
<script type="text/javascript" src="^Extras;yui-webgui/build/datepicker/datepicker.js"></script>


<tmp_var form_start>
<table border="0" cellspacing="1">
    <tbody>
    <tr>
        <td valign="top" width="40%">
            <table border="0" cellpadding="3" cellspacing="0" width="100%">
                <tbody>
                <tr><td>Keyword</td><td><tmpl_var form_keyword></td></tr>
                <tr><td>Status</td><td><tmpl_var form_status></td></tr>
                <tr><td>Assigned To</td><td><tmpl_var form_assignedTo></td></tr>
                <tr><td>Assigned By</td><td><tmpl_var form_assignedBy></td></tr>
                <tr><td>Created</td><td><tmpl_var form_dateStart>&nbsp;To:&nbsp;<tmpl_var form_dateEnd></td></tr>
                </tbody>
            </table>
        </td>
        <td width="10%"></td>
        <td valign="top" width="40%">
            <table border="0" cellpadding="3" cellspacing="0" width="100%">
                <tbody>
                <tr><td>Ticket Id</td><td><tmpl_var form_ticketId></td></tr>
                <tmpl_if hasMetaFields>
                <tmpl_loop meta_loop>
                <tr><td><tmpl_var form_meta_label></td><td><tmpl_var form_meta></td></tr>
                </tmpl_loop>
                </tmpl_if>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<tmpl_var form_end>

<br clear="all" />

<div id="search">
    <div id="sdt"></div>
    <div id="search_paging_bottom"></div>
</div>