#title=EditTicket
#namespace=Ticket/edit
#assetId=TICKET0000000000000001

<div>
    <tmpl_var form_start>
    <table cellspacing="1">
        <!-- Header -->
        <tr>
            <td colspan="2"><b>Enter Ticket Details</b></td>
        </tr>
        <!-- Errors if any exists -->
        <tmpl_if errors>
        <tr>
            <td colspan="2">
                <b>Error Posting Ticket</b>
                <ul>
                    <tmpl_loop errors>
                    <li><tmpl_var error></li>
                    </tmpl_loop>
                </ul>
            </td>
        </tr>
	    </tmpl_if>
        <!-- Title -->
        <tr id="title_formId_row">
            <td class="formDescription"  valign="top" style="width: 180px;"><label for="title_formId">Title</label><div class="wg-hoverhelp">Use a brief but descriptive title. <ul><li>very bad title: help!</li><li>bad title: printer help needed.</li><li>better title: can't print to breakroom laser.</li></ul></div></td>
			<td valign="top" class="tableData" ><tmpl_var form_title></td>
        </tr>
        <!-- Description -->
        <tr id="description_formId_row">
			<td class="formDescription"  valign="top" style="width: 180px;"><label for="description_formId">Description</label><div class="wg-hoverhelp">Provide as much description as you can about the problem. A good description answers:<ul><li>What were you trying to do?</li><li>What happened when you did it?</li><li>Why is that wrong; what did you expect to happen?</li></ul></div></td>
			<td valign="top" class="tableData"><tmpl_var form_synopsis></td>
		</tr>
        <!-- Title -->
        <tr id="attachment_formId_row">
            <td class="formDescription"  valign="top" style="width: 180px;"><label for="attachment_formId">Attachments</label><div class="wg-hoverhelp">Attach any relevent documents which will help further diagonse the issue</div></td>
			<td valign="top" class="tableData" ><tmpl_var form_attachment></td>
        </tr>
        <!-- Meta Fields -->
        <tmpl_if hasMetaFields>
        <tmpl_loop fields_loop>
        <tr id="<tmpl_var form_field_name>_formId_row">
            <td class="formDescription"  valign="top" style="width: 180px;"><label for="<tmpl_var form_field_name>_formId"><tmpl_var form_field_label></label><div class="wg-hoverhelp"><tmpl_var form_field_hoverHelp></div></td>
			<td valign="top" class="tableData" ><tmpl_var form_field></td>
        </tr>
        </tmpl_loop>
        </tmpl_if>
        <tr>
            <td colspan="2"><tmpl_var form_submit></td>
        </tr>
    </table>
    <tmpl_var form_end>
</div>

~~~

<link href="^Extras;yui/build/container/assets/container.css" rel="stylesheet" type="text/css" />
<link href="^Extras;hoverhelp.css" rel="stylesheet" type="text/css" />
<script src="^Extras;yui/build/yahoo/yahoo-min.js" type="text/javascript"></script>
<script src="^Extras;yui/build/dom/dom-min.js" type="text/javascript"></script>
<script src="^Extras;yui/build/event/event-min.js" type="text/javascript"></script>
<script src="^Extras;yui/build/container/container-min.js" type="text/javascript"></script>
<script src="^Extras;hoverhelp.js" type="text/javascript"></script>