#title=ViewTicket
#namespace=Ticket/view
#assetId=TICKET0000000000000002
<tmpl_if session.var.adminOn>
	<tmpl_var controls>
</tmpl_if>

<tmpl_unless isVisitor>
<link rel="stylesheet" type="text/css" href="^Extras;wobject/HelpDesk/ticket.css" />
<link rel="stylesheet" type="text/css" href="^Extras;yui/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="^Extras;yui/build/button/assets/skins/sam/button.css" />
<link rel="stylesheet" type="text/css" href="^Extras;yui/build/container/assets/skins/sam/container.css" />

<script type="text/javascript" src="^Extras;yui/build/utilities/utilities.js"></script>
<script type="text/javascript" src="^Extras;yui/build/button/button-min.js"></script>
<script type="text/javascript" src="^Extras;yui/build/container/container-min.js"></script>
<script type="text/javascript" src="^Extras;yui/build/resize/resize-beta.js"></script>
<script type="text/javascript" src="^Extras;yui-webgui/build/form/form.js"></script>
<script type="text/javascript" src="^Extras;wobject/HelpDesk/yui-bubbling/build/dispatcher/dispatcher-min.js"></script>
<script type="text/javascript" src="^Extras;wobject/HelpDesk/ticket.js"></script>
</tmpl_unless>

<script type="text/javascript">
    YAHOO.util.Event.onDOMReady(function() {

        <tmpl_if callerIsTicketMgr>
        /************************  DATA TABLE LOADER   *************************/ 
        WebGUI.Ticket.viewTicketUrl = '<tmpl_var url_ticketView>';
        WebGUI.Ticket.dataTableId   = '<tmpl_var datatable_id>';
        YAHOO.util.Event.addListener("return",'click',WebGUI.Ticket.loadDataTable);
        </tmpl_if>
    
        <tmpl_if canPost>
        /************************  FILE UPLOADER   *************************/
        WebGUI.Ticket.postFileUrl = '<tmpl_var url_postFile>';
        WebGUI.Ticket.listFileUrl = '<tmpl_var url_listFile>';

        YAHOO.util.Event.addListener("attachment_id",'change', WebGUI.Ticket.uploadHandler);

        /************************  POST COMMENTS   *************************/
        WebGUI.Ticket.postCommentUrl  = '<tmpl_var url_postComment>';
        WebGUI.Ticket.getCommentsUrl  = '<tmpl_var url_getComment>';

        YAHOO.util.Event.addListener("commentsBtn",'click', WebGUI.Ticket.postComment, { form : "commentsForm"});
        
        <tmpl_if ticketResolvedAndIsOwner>
        YAHOO.util.Event.addListener("closeBtn",'click', WebGUI.Ticket.postComment, { form   : "commentsForm", close : true });
        </tmpl_if>

        </tmpl_if>

        <tmpl_if canUpdate>
        WebGUI.Ticket.getFormFieldUrl = '<tmpl_var url_getFormField>';
        WebGUI.Ticket.saveUrl         = '<tmpl_var url_saveFormField>';

        /************************  EDIT META FIELDS   *************************/
        //Add listeners
        var metaList = YAHOO.util.Dom.getElementsByClassName('metaEditLink','a','detailsTb');
        for(var i = 0; i < metaList.length; i++ ) {
            var fieldId   = metaList[i].id.split("~")[1];
            YAHOO.util.Event.addListener(metaList[i],'click',WebGUI.Ticket.loadField, {
                fieldId : fieldId
            });
        }

        /************************  POST KEYWORDS   *************************/
        WebGUI.Ticket.postKeywordsUrl = '<tmpl_var url_postKeywords>';
        YAHOO.util.Event.addListener("keywordsBtn","click",WebGUI.Ticket.postKeywords,{
            seperator : ' '
        });
        </tmpl_if>

        <tmpl_if canAssign>
        /************************  ASSIGN DIALOG   *************************/
        WebGUI.Ticket.userSearchUrl    = '<tmpl_var url_userSearch>';
        WebGUI.Ticket.setAssignmentUrl = '<tmpl_var url_setAssignment>';
        
        window.assignDialog = new YAHOO.widget.Dialog("assignDialog", {
            width               : "350px", 
            fixedcenter         : true, 
            visible             : false,  
            constraintoviewport : true,
            buttons             : [],
            postmethod          : "manual",
            hideaftersubmit     : false
        });

        // Render the Dialog
        window.assignDialog.render();
        window.assignDialog.focusFirst();

        YAHOO.util.Event.addListener("assignLink",'click', WebGUI.Ticket.showAssignDialog);
        YAHOO.util.Event.addListener("unassignLink",'click',WebGUI.Ticket.setAssignment);
        YAHOO.util.Event.addListener("searchBtn",'click', WebGUI.Ticket.findUsers);
        </tmpl_if>

        <tmpl_if canChangeStatus>
        WebGUI.Ticket.getFormFieldUrl = '<tmpl_var url_getFormField>';
        WebGUI.Ticket.saveUrl         = '<tmpl_var url_saveFormField>';
         /************************  SOLUTION DIALOG   *************************/
        window.solutionDialog = new YAHOO.widget.Dialog("solutionDialog", {
            width               : "500px", 
            fixedcenter         : true, 
            visible             : false,  
            constraintoviewport : true,
            close               : false,
            buttons             : [{
                    text      : "Submit",
                    handler   : {
                        fn    : WebGUI.Ticket.postComment,
                        obj   : { form : "postSolutionForm" }
                    },
                    isDefault : true
                },{
                    text      : "Cancel",
                    handler   : function() {
                        WebGUI.Ticket.statusChanged = false;                        
                        this.cancel();
                        YAHOO.util.Dom.setStyle("solutionSummary_div","display","none");
                    }
                }
            ]
        });

        // Render the Dialog
        window.solutionDialog.render();
        //Set a variable that is used to determine whether the user is change the status or not and what the target of the button clicked is
        WebGUI.Ticket.statusValues       = <tmpl_var statusValues>;
        WebGUI.Ticket.currentUser        = '<tmpl_var username>';
        WebGUI.Ticket.statusChanged      = false;
        WebGUI.Ticket.statusButtonTarget = null;
        WebGUI.Ticket.buttonSrc          = '<tmpl_var edit_icon_src>';

        /************************  CHANGE STATUS   *************************/
        YAHOO.util.Event.addListener("statusLink",'click',WebGUI.Ticket.loadField,{
            fieldId : 'ticketStatus'
        });
        </tmpl_if>

        <tmpl_if canEdit>
        /************************  CHANGE KARMA SCALE *************************/
        YAHOO.util.Event.addListener("karmaScaleLink",'click',WebGUI.Ticket.loadField,{
            fieldId : 'karmaScale'
        });
        </tmpl_if>

    });
</script>

<tmpl_unless isVisitor>
<script type="text/javascript">
    WebGUI.Ticket.karmaUrl = "/wg/karma";
    WebGUI.Ticket.assetId = "<tmpl_var assetId>";
    WebGUI.Ticket.isOwner = <tmpl_if isOwner>true;<tmpl_else>false;</tmpl_if>

    /************************  HISTORY   *************************/
    WebGUI.Ticket.historyUrl  = '<tmpl_var url_getHistory>';

    /************************  SUBSCRIPTIONS *************************/
    WebGUI.Ticket.subscribeUrl  = '<tmpl_var url_subscribe>';
    YAHOO.util.Event.addListener("ticketSubscribeLink",'click',WebGUI.Ticket.toggleSubscription);

    /************************  TRANSFER KARMA *************************/
    WebGUI.Ticket.transferKarmaUrl  = '<tmpl_var url_transferKarma>';
    YAHOO.util.Event.addListener("transferKarmaBtn",'click',WebGUI.Ticket.transferKarma);
</script>
</tmpl_unless>

<tmpl_if callerIsTicketMgr>
<div id="action_links_div">
<a href="javascript:void(0);" id="return">Back To Tickets</a><tmpl_if canSubscribe><span>&nbsp;&bull;&nbsp;</span><a href="javascript:void(0);" id="ticketSubscribeLink"><tmpl_var subscribe_label></a></tmpl_if><br />
</div>
<tmpl_else>
<a href="<tmpl_var url_ticketMgr>">View All Tickets</a> <br />
</tmpl_if>

<table border="0" cellpadding="2" cellspacing="0" width="100%" style="border:1px solid black;">
<tbody>
<tr class="ticket_title">
    <td><tmpl_var title>&nbsp;&nbsp(#<tmpl_var ticketId>)</td>
</tr>
<tmpl_if isPrivate>
<tr class="ticket_private"><td>Private</td></tr>
</tmpl_if>

<tr class="ticket_body">
   <td>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td width="70%" valign="top">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr><td><fieldset><legend>Issue</legend><tmpl_var synopsis></fieldset><td></tr>
                <tr id="solutionRow" style="<tmpl_var solutionStyle>">
                    <td>
                        <fieldset>
                            <legend>Solution Summary</legend>
                            <div id="solution"><tmpl_var solutionSummary></div>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td>
                        <fieldset>
                            <legend>Comments</legend>
                            <div id="comments"><tmpl_var comments></div>
                            <tmpl_if canPost>
                            <br />
                            <div id="commentForm">
                                <tmpl_var comments_form_start>
                                <tmpl_var comments_form_comment><br />
                                <tmpl_var comments_form_rating>
                                <div id="commentsButton_div">
                                    <input type="button" value="<tmpl_if ticketResolved>Reopen Ticket<tmpl_else>Post</tmpl_if>" id="commentsBtn"><tmpl_if ticketResolvedAndIsOwner>&nbsp;<input type="button" name="closeBtn" value="Confirm and Close" id="closeBtn"><input type="hidden" name="close" id="closeTicket" value=""></tmpl_if>
                                </div>
                                <tmpl_var form_end>
                            </div>
                            </tmpl_if>
                        </fieldset>
                    </td>
                </tr>
                </tbody>
                </table>
            </td>
            <td width="30%" valign="top">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <!-- Details -->
                <tr>
                    <td>
                        <fieldset>
                            <legend>Details</legend>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" id="detailsTb">
                            <tbody>
                                <tr>
                                    <td class="detailsTdLeft">Ticket Status</td>
                                    <td class="fieldValue" id="field_id_ticketStatus"><tmpl_var ticketStatus></td>
                                    <td align="right"><tmpl_if canChangeStatus><a href="javascript: void(0);" id="statusLink"><tmpl_var edit_icon></a><tmpl_else>&nbsp;</tmpl_if></td>
                                </tr>
                                <tr><td class="detailsTdLeft">Rating</td><td id="averageRating"><img src="<tmpl_var averageRating_src>" id="averageRatingImg" border="0" style="vertical-align: middle;" alt="<tmpl_var averageRating>" title="<tmpl_var averageRating>"></td><td>&nbsp;</td></tr>
                                <tr><td class="detailsTdLeft">Submitted By</td><td><tmpl_var createdBy></td><td>&nbsp;</td></tr>
                                <tr><td class="detailsTdLeft">Date Submitted</td><td><tmpl_var creationDate></td><td>&nbsp;</td></tr>
                                <tr>
                                    <td class="detailsTdLeft">Assigned To</td>
                                    <td id="assignedTo"><tmpl_var assignedTo></td>
                                    <td nowrap  align="right"><tmpl_if canAssign><a href="javascript: void(0);" id="assignLink"><tmpl_var edit_icon></a><a href="javascript: void(0);" id="unassignLink"><tmpl_var delete_icon></a><tmpl_else>&nbsp;</tmpl_if></td>
                                </tr>
                                <tr><td class="detailsTdLeft">Date Assigned</td><td id="dateAssigned"><tmpl_var dateAssigned></td><td>&nbsp;</td></tr>
                                <tr><td class="detailsTdLeft">Assigned By</td><td id="assignedBy"><tmpl_var assignedBy></td><td>&nbsp;</td></tr>
                                <tmpl_loop meta_field_loop>
                                <tr>
                                    <td class="detailsTdLeft"><tmpl_var meta_field_label></td>
                                    <td class="fieldValue" id="field_id_<tmpl_var meta_field_id>"><tmpl_var meta_field_value></td>
                                    <td align="right"><tmpl_if canUpdate><a href="javascript: void(0);" class="metaEditLink" id="fieldLink~<tmpl_var meta_field_id>"><tmpl_var edit_icon></a><tmpl_else>&nbsp;</tmpl_if></td>
                                </tr>
                                </tmpl_loop>
                                <tr><td class="detailsTdLeft">URL</td><td id="url" colspan="2"><a href="<tmpl_var url_self>"><tmpl_var url></a></td></tr>
                            </tbody>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                <!-- Karma -->
                <tmpl_if useKarma>
                <tr>
                    <td>
                        <fieldset>
                            <legend>Karma</legend>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td class="detailsTdLeft">Difficulty</td>
                                    <td class="fieldValue" id="field_id_karmaScale"><tmpl_var karmaScale></td>
                                    <td align="right"><tmpl_if canEdit><a href="javascript: void(0);" id="karmaScaleLink"><tmpl_var edit_icon></a><tmpl_else>&nbsp;</tmpl_if></td>
                                </tr>
                                <tr><td class="detailsTdLeft">Karma So Far</td><td id="karma" colspan="2"><tmpl_var karma></td></tr>
                                <tr><td class="detailsTdLeft">Karma Rank</td><td id="karmaRank" colspan="2"><tmpl_var karmaRank></td></tr>
                                <tmpl_unless isVisitor>
                                <tr>
                                    <td class="detailsTdLeft">Transfer Karma</td>
                                    <td colspan="2"><input id="karmaAmount_formId" type="text" name="karmaAmount" value="" size="11" maxlength="11" /><input type="button" value="save" id="transferKarmaBtn"/></td>
                                </tr>
                                </tmpl_unless>
                                </tbody>
                            </table>
                        </fieldset>
                    </td>
                </tr>
                </tmpl_if>
                <!-- Keywords -->
                <tr>
                    <td>
                        <fieldset>
                            <legend>Keywords</legend>
                            <tmpl_if canEdit>
                            <div>
                                <tmpl_var keywords_form_start>
                                <tmpl_var keywords_form><input type="button" id="keywordsBtn" value="Update">
                                <tmpl_var form_end>
                            </div>
                            </tmpl_if>
                            <div style="width:340px;font-weight: bold; color: blue;" id="keywordDiv">
                                <tmpl_loop keywords_loop><tmpl_var keyword> </tmpl_loop>
                            </div>
                        </fieldset>
                    </td>
                </tr>
                <!-- Related Files -->
                <tmpl_if hasFilesOrCanPost>
                <tr>
                    <td>
                        <fieldset>
                            <legend>Related Files</legend>
                            <div id="relatedFiles">
                            <tmpl_var relatedFiles>
                            </div>
                            <tmpl_if canPost>
                            <table width="350" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td>
                                        <tmpl_var file_form_start>
                                        <input type="file" id="attachment_id" name="attachment">
                                        <div  style="visibility:hidden; margin-bottom:1.5em;" id="indicator">Uploading... <img src="^Extras;wobject/HelpDesk/indicator.gif"/></div>    
                                        <tmpl_var form_end>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </tmpl_if>
                        </fieldset>
                    </td>
                </tr>
                </tmpl_if>
                <!-- Ticket History -->
                <tr>
                    <td>
                        <fieldset>
                            <legend>Ticket History</legend>
                            <div id="ticketHistory">
                            <tmpl_var ticket_history>
                            </div>
                        </fieldset>
                    </td>
                </tr>
                </tbody>
                </table>
            </td>
        </tr>
    </tbody>
    </table>
   </td>
</tr>
</tbody>
</table>

<tmpl_if canAssign>
<div id="assignDialog"> 
    <tmpl_var userSearch_form_start>
    <div class="grayArea">
        <b>Search for user: </b><br /><input type="text" name="search" value="" size="20" class="inputBox" id="searchBox" />
        <input type="button" value="Search" class="hd_searchBtn" id="searchBtn" />
    </div>
    <div  style="display:none; margin-bottom:1.5em;" id="userSearchIndicator">Searching... <img src="^Extras;wobject/HelpDesk/indicator.gif"/></div>    
    <div id="userList" class="userArea">
        <br /><br /><br /><br /><br /><br /><br /><br />
    </div>
    <tmpl_var form_end>
</div>
</tmpl_if>
<tmpl_if canChangeStatus>
<tmpl_var solution_form_start>
<div id="solutionDialog">
    <div>    
        <div class="whiteArea">
            <b>Status Change Notes</b><br />Describe any action taken on the ticket to be posted as comments
        </div>
        <div id="solutionForm" class="solutionArea"><textarea id="solution_formId" name="comment" rows="#" cols="#" style="width: 485px; height: 150px;"></textarea></div>
    </div>    
    <div style="display:none" id="solutionSummary_div">    
        <div class="whiteArea">
            <b>Solution Summary</b><br />Summarize what you did that enables you to close this ticket.
        </div>
        <div id="solutionDiv_id" class="solutionArea"><textarea id="solution_formId" name="solution" rows="#" cols="#" style="width: 485px; height: 150px;"></textarea></div>
    </div>
</div>
<input type="hidden" name="setFormStatus" value="" id="setFormStatus_formId">
<tmpl_var form_end>
</tmpl_if>
