#title=View Ticket History
#namespace=Ticket/history
#assetId=TICKET0000000000000006
<style>
    .historyTdLeft{
		border-right:solid white 2px;
		border-bottom:solid white 2px;
        padding: 1px;
		background-color:#f0f0f0;
	}
    .historyTdRight {
        border-bottom: solid white 2px;
        padding: 1px;
		background-color:#f0f0f0;
    }
</style>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody >
<tmpl_loop history_loop>
    <tr>
        <td width="25%" class="historyTdLeft">
            <tmpl_var history_date>
        </td> 
        <td width="50%" class="historyTdLeft">
            <tmpl_var history_action>
        </td>
        <td width="25%" class="historyTdRight">
            <tmpl_var history_user>
        </td>
    </tr>
</tmpl_loop>
</tbody>
</table>
	