#title=View Ticket Related Files
#namespace=Ticket/relatedFiles
#assetId=TICKET0000000000000003
<table width="300" border="0" cellpadding="0" cellspacing="0">
<tbody >
<tmpl_loop files_loop>
    <tr>
        <td><img border="0" src="<tmpl_var file_icon_url>"><a href="<tmpl_var file_url>" target="_new"><tmpl_var file_name></a></td>
    </tr>
</tmpl_loop>
</tbody>
</table>